* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px 5%;
  background-color: azure;
}

.header--title {
  font-size: 3rem;
}

.header--img img {
  width: 130px;
}

.main {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.main-div {
  margin-bottom: 10px;
}

.main h2 {
  font-size: 2.5rem;
}

.main p {
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.main h2,
.main p {
  margin: 0;
}

.main--container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
  margin-top: 30px;
}

.main--container__img {
  display: flex;
  align-items: center;
}

.main--container__img img {
  width: 300px;
}

.main-game {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.showWordsList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  font-size: 1.3rem;
  list-style: none;
}

.hide {
  display: none;
}

#alertText {
  color: red;
}

@media (max-width: 700px) {
  .main {
    padding-top: 10px;
  }
  .main--container {
    flex-direction: column-reverse;
    align-items: center;
  }
}

@media (max-width: 400px) {
  .header {
    flex-direction: column;
  }
  .header--title {
    font-size: 1.8rem;
  }

  .header--img img {
    display: none;
  }

  .main--container__img img {
    width: 200px;
  }

  .span-start {
    font-size: 1rem;
  }

  .showWordsList {
    padding: 0 20px;
  }

  #alertText {
    display: inline-block;
    width: 100%;
  }
}
